.wrapper {
  display: inline-flex;
  align-items: center;
  background-color: #1d1d1d;
  width: 100vw;
  height: 45px;
  text-decoration: none;
}

.logoImage {
  height: 30px;
  margin-left: 14px;
}

.name {
  margin: 0 0 0 10px;
  height: 30px;
  font-size: 23px;
  font-weight: 600;
  transform: translateY(20%);
  
  color: white;

}
