@mixin button {
  background-color: #1d1d1d;
  color: white;
  font-weight: 600;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0); //preventing unexpected button moving on hover
  border-radius: 5em;
  outline: none;
  cursor: pointer;
}

.primary {
  @include button;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

.round {
  @include button;
  border-radius: 50%;
  padding: 10px;
}
