.wrapper {
  display: flex;
  position: absolute;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  bottom: 0;
}

.githubLink {
  color: #afafaf;
  text-decoration: none;
}
